
<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">
 
<!--
//  <meta charset="utf-8">
//  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
//
//  <title>
//    {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
//    {% else %}{{ site.title | escape }}{% endif %}
//  </title>
//
//  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
//
//  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
//  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
//
//  <link rel="stylesheet" href="{{"/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">
//
//  <link rel="stylesheet" href="{{"/assets/vendor/fontawesome-free/css/all.min.css" | relative_url }}">
//
//  <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">
//  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
//  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
//
-->
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
  
<link rel="stylesheet" href="style.css"> 
 
<!--
<link rel="stylesheet" href="bootstrap.bundle.min.js"> 
<link rel="stylesheet" href="bootstrap.min.css"> 
<link rel="stylesheet" href="jquery.slim.min.js"> 
-->
 
 
</head>

<body class="d-flex flex-column">

<!--
//  {% include navbar.html %}
//
//  {{ content }}
//
//  {% include footer.html %}
//
//  {% include scripts.html %}
//
//  {% include google-analytics.html %}
-->  

  <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white">Sticky Footer using Flexbox</h1>
          <p class="lead text-white-50">Use just two Bootstrap 4 utility classes and three custom CSS rules and you will have a flexbox enabled sticky footer for your website!</p>
        </div>
      </div>
    </div>
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</body>

</html>




